<div fxLayout="row">
  <div fxFlex="100%" class="image-container">
    <img [src]="(recipeState | async).recipes[id].imagePath"
         alt="{{(recipeState | async).recipes[id].name}}">
  </div>
</div>
<div fxLayout="row">
  <div fxFlex="100%">
    <h1>{{(recipeState | async).recipes[id].name}}</h1>
  </div>
</div>
<div fxLayout="row">
  <div fxFlex="100%">
    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
      Manage recipe
      <mat-icon svgIcon="thumbs-up"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onAddToShopingList()">To shopping list</button>
      <button mat-menu-item (click)="onEditRecipe()">Edit recipe</button>
      <button mat-menu-item (click)="onDeleteRecipe()">Delete recipe</button>
    </mat-menu>
  </div>
</div>
<div fxLayout="column" class="description-container">
  <div class="fade">Description:</div>
  <div class="description">
    {{(recipeState | async).recipes[id].description}}
  </div>
</div>
<div fxLayout="column">
  <div class="fade">Ingredients:</div>
  <div fxFlex="100%">
    <mat-list>
      <mat-list-item *ngFor="let ingredient of (recipeState | async).recipes[id].ingredients">
        {{ingredient.name}} {{ingredient.amount}}
      </mat-list-item>
    </mat-list>
  </div>
</div>
