<div fxLayout="row">
  <div fxFlex="100%">
    <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive">
  </div>
</div>
<div fxLayout="row">
  <div fxFlex="100%">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div fxLayout="row">
  <div fxFlex="100%">
    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
      Manage recipe
      <mat-icon svgIcon="thumbs-up"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onAddToShopingList()">To shopping list</button>
      <button mat-menu-item (click)="onEditRecipe()">Edit recipe</button>
      <button mat-menu-item (click)="onDeleteRecipe()">Delete recipe</button>
    </mat-menu>
  </div>
</div>
<div fxLayout="row">
  <div fxFlex="100%">
    {{recipe.description}}
  </div>
</div>
<div fxLayout="row">
  <div fxFlex="100%">
    <mat-list>
      <mat-list-item *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}} {{ingredient.amount}}
      </mat-list-item>
    </mat-list>
  </div>
</div>
