<div fxLayout="column" fxLayoutAlign="center center" >
  <div class="header">
    <h3>Sign up</h3>
  </div>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" [@signState]="'state'">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="24px">
      <div fxFlex="45%">
        <mat-form-field>
          <input
            matInput
            name="email"
            placeholder="email"
            ngModel
          >
        </mat-form-field>
      </div>
      <div fxFlex="45%">
        <mat-form-field>
          <input
            matInput
            type="password"
            name="password"
            placeholder="password"
            ngModel
          >
        </mat-form-field>
      </div>
    </div>
    <div dir="rtl">
      <button mat-raised-button type="submit" color="primary">Sign Up</button>
    </div>
  </form>
</div>
