<ul>
  <h3>Recipes</h3>
  <li>
    <a label="Recipes" routerLink="/recipes" routerLinkActive="active">Recipes</a>
  </li>
  <li>
    <a label="Shopping List" routerLink="/shopping-list" routerLinkActive="active">ShopingList</a>
  </li>
  <ng-template [ngIf]="!authService.isAuthenticated()">
    <li>
      <a label="Signup" routerLink="/signup" routerLinkActive="active">Sign up</a>
    </li>
    <li>
      <a label="Signin" routerLink="/signin" routerLinkActive="active">Sign in</a>
    </li>
  </ng-template>
  <ng-template [ngIf]="authService.isAuthenticated()">
    <li>
      <a (click)="onLogout()">Logout</a>
    </li>
    <li>
      <a (click)="onSaveData()">Save data</a>
    </li>
    <li>
      <a (click)="onFetchData()">Fetch data</a>
    </li>
  </ng-template>
</ul>
<!-- <nav mat-tab-nav-bar>
  <a mat-tab-link [routerLink]="recipes" routerLinkActive="mat-tab-link-active">34</a>
  <a mat-tab-link [routerLink]="shopping-list">34</a>
</nav> -->
