<nav mat-tab-nav-bar backgroundColor="primary">
  <a mat-tab-link [routerLink]="links[0]"
     [active]="activeLink===links[0]"
     (click)="setActiveLink(links[0])">Recipes</a>

  <a mat-tab-link [routerLink]="links[1]"
     [active]="activeLink===links[1]"
     (click)="setActiveLink(links[1])">ShopingList</a>

  <ng-template [ngIf]="!(authState | async).authenticated">
    <a mat-tab-link [routerLink]="links[2]"
       [active]="activeLink===links[2]"
       (click)="setActiveLink(links[2])">Sign up</a>

    <a mat-tab-link [routerLink]="links[3]"
       [active]="activeLink===links[3]"
       (click)="setActiveLink(links[3])">Sign in</a>
  </ng-template>
  <ng-template [ngIf]="(authState | async).authenticated">
    <a mat-tab-link (click)="onLogout()">Logout</a>
    <a mat-tab-link (click)="onSaveData()">Save data</a>
    <a mat-tab-link (click)="onFetchData()">Fetch data</a>
  </ng-template>
</nav>
