<h3>Sign in</h3>
<div fxLayout="row" fxLayoutAlign="center center">
  <form (ngSubmit)="onSignin(f)" #f="ngForm">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="24px">
      <div fxFlex="45%">
        <mat-form-field>
          <input
            matInput
            name="email"
            placeholder="email"
            ngModel
          >
        </mat-form-field>
      </div>
      <div fxFlex="45%">
        <mat-form-field>
          <input
            matInput
            type="password"
            name="password"
            placeholder="password"
            ngModel
          >
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button type="submit" color="primary">Sign In</button>
  </form>
</div>
